<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <title>واجهة الطالب</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <h2>مرحبًا {{ session.student_name }}</h2>

  <form method="GET" action="/student_courses">
    <label>السنة:</label>
    <select name="year_id">
      {% for year in years %}
      <option value="{{ year[0] }}">{{ year[1] }}</option>
      {% endfor %}
    
    </select><br><br>

    <label>القسم:</label>
    <select name="department_id">
      <option value="">(اختياري)</option>
      {% for dep in departments %}
      <option value="{{ dep[0] }}">{{ dep[1] }}</option>
      {% endfor %}

    </select><br><br>

    <label>الفصل:</label>
    <select name="semester_id">
      {% for sem in semesters %}
      <option value="{{ sem[0] }}">{{ sem[1] }}</option>
      {% endfor %}

    </select><br><br>

    <button type="submit">عرض المواد</button>
  </form>
</body>
</html>
